@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .button-icon {
    @apply border-0 shadow-none
  }

  .icon-sm {
    @apply h-[14px] w-[14px]
  }

  .icon-md {
    @apply h-5 w-5
  }

  .icon-lg {
    @apply h-6 w-6
  }
}

@layer base {
  :root {
    --bg-sider: #fff
  }

  .dark {
    --bg-sider: #000
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-backgroundMain text-foregroundMain;
  }
}

@layer components {
 
}