@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient_color-topLeft {
    @apply bg-gradient-to-tl from-[var(--gradient-color-100)] to-[var(--gradient-color-150)]
  }

  .gradient_color-left {
    @apply bg-gradient-to-l from-[var(--gradient-color-100)] to-[var(--gradient-color-150)]
  }

  .gradient_color-right {
    @apply bg-gradient-to-r from-[var(--gradient-color-100)] to-[var(--gradient-color-150)]
  }

  .gradient_color-meio {
    @apply bg-gradient-radial from-[var(--gradient-color-100)] to-[var(--gradient-color-150)] to-90%
  }

  .gradient_azul {
    @apply bg-gradient-to-t from-[var(--gradient-color-200)] to-[var(--gradient-color-250)]
  }
}

@layer base {
  :root {
    --background: #f5f6fa;
    --backgroundSecondary: #fff;
    --foreground: #1c2338;
    --foregroundSecondary: #1d253b;

    --muted: #F0F4F9;
    --muted-foreground: #6F7D92;

    --popover: #FFFFFF;
    --popover-foreground: #1C2338;

    --border: #DDE4ED;
    --input: #DDE4ED;

    --card: #FFFFFF;
    --card-foreground: #1C2338;

    --primary: #1C2338;
    --primary-foreground: #F0F4F9;

    --secondary: #F0F4F9;
    --secondary-foreground: #1C2338;

    --accent: #b5d333;
    --accentNeutral: #f1f5f9;
    --accent-foreground: #fff;
    --accent-foregroundNeutral: #0f172a;

    --destructive: #FF0000;
    --destructive-foreground: #F0F4F9;

    --ring: #8495B0;

    --radius: 0.5rem;

    --gradient-color-100:hsla(225, 100%, 99%, .95);
    --gradient-color-150: rgba(215, 217, 233, 0.5);
    --gradient-color-200:rgb(13, 45, 125);
    --gradient-color-250: rgb(10, 33, 94);

    --text-simples-200: #acb8cb;
    --text-simples-300: #6F7D92;
    --text-simples-400: #484C53;
    --text-white: #fff;

    --azul-200: #4868DB;
    --azul-400: #1b3ba3;
    --azul-600: #072488;
    --azul-800: #0d2d7d;
    --azul-900: #071846;

    --verdinho-300: #b5d333;
    --verdinho-350: #b6d3336e;

  }

  .dark {
    --background: #27293D;
    --backgroundSecondary: #1E1E2F;
    --foreground: #D5DBE9;
    --foregroundSecondary: #fff;

    --muted: #1C2338;
    --muted-foreground: #8D99AC;

    --accent: #b5d333;
    --accentNeutral: #f1f5f9;
    --accent-foreground: #fff;
    --accent-foregroundNeutral: #0f172a;

    --popover: #0C0F19;
    --popover-foreground: #8495B0;

    --border: #3c4965;
    --input: #3c4965;

    --card: #0C0F19;
    --card-foreground: #D5DBE9;

    --primary: #F0F4F9;
    --primary-foreground: #030409;

    --secondary: #1C2338;
    --secondary-foreground: #F0F4F9;

    --destructive: #A10000;
    --destructive-foreground: #F0F4F9;

    --ring: #2B3447;

    --radius: 0.5rem;

    --gradient-color-100:#2d2d4685;
    --gradient-color-150: #1E1E2F;

    --text-simples-200: #d6dae2;
    --text-simples-300: #8D99AC;
    --text-simples-400: #484C53;
    --text-white: #fff;

    --azul-200: #4868DB;
    --azul-400: #1b3ba3;
    --azul-600: #072488;
    --azul-800: #0D2D7C;
    --azul-900: #071846;

    --verdinho-300: #b5d333;
    --verdinho-350: #b6d3336e;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-backgroundMain text-foregroundMain;
  }
}

@layer components {}