@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient_azul {
    @apply bg-gradient-to-t from-[var(--gradient-color-200)] to-[var(--gradient-color-250)]
  }
}

@layer base {
  :root {
    --background: #f5f6fa;
    --backgroundSecondary: #fff;
    --foreground: #1c2338;
    --foregroundSecondary: #1d253b;

    --muted: #F0F4F9;
    --muted-foreground: #6F7D92;

    --popover: #FFFFFF;
    --popover-foreground: #1C2338;

    --border-100: #bcc4ce;
    --border-200:#a2b3c7;
    --input: #DDE4ED;

    --card: #FFFFFF;
    --card-foreground: #1C2338;

    --primary: #1C2338;
    --primary-foreground: #F0F4F9;

    --secondary: #F0F4F9;
    --secondary-foreground: #ffffff;

    --accent: #b5d333;
    --accentNeutral: #f3f4f8;
    --accent-foreground: #181d2b;
    --accent-foregroundNeutral: #0f172a;

    --destructive: #FF0000;
    --destructive-foreground: #F0F4F9;

    --ring: #8495B0;

    --radius: 0.5rem;

    --gradient-color-200:rgb(13, 45, 125);
    --gradient-color-250: rgb(10, 33, 94);

    --text-simples-200: #acb8cb;
    --text-simples-300: #6F7D92;
    --text-simples-400: #5d636e;
    --text-white: #fff;

    --azul-highlight: #072488;
    --azul-200: #4868DB;
    --azul-400: #1b3ba3;
    --azul-800: #0d2d7d;
    --azul-900: #071846;

    --verdinho-300: #b5d333;
    --verdinho-350: #b6d3336e;

    --chart-1: #e76e50c2;
    --chart-2: #2a9d9094;
    --chart-3: #2747545e;
    --chart-4: #e8c468bd;
    --chart-5: #f4a462de;

    --color-green-default: #22C55E;
    --color-green-light: #4ADE80;
    --color-green-dark:#011401;
    --color-yellow: #EAB308;
    --color-red: #EF4444;
    --color-blue: #60A5FA;
    --color-cyan: #06B6D4;
    --color-teal:#065058;

    --radix-accordion-content-height: 100px;
  }

  .dark {
    --background: #27293D;
    --backgroundSecondary: #1E1E2F;
    --foreground: #D5DBE9;
    --foregroundSecondary: #fff;

    --muted: #29293b;
    --muted-foreground: #8D99AC;

    --accent: #b5d333;
    --accentNeutral: #2c2e44;
    --accent-foreground: #fff;
    --accent-foregroundNeutral: #0f172a;

    --popover: #0C0F19;
    --popover-foreground: #8495B0;

    --border-100: #3c4965;
    --border-200:#535b6d;
    --input: #41456d;

    --card: #1E1E2F;
    --card-foreground: #D5DBE9;

    --primary: #F0F4F9;
    --primary-foreground: #030409;

    --secondary: #1C2338;
    --secondary-foreground: #F0F4F9;

    --destructive: #A10000;
    --destructive-foreground: #F0F4F9;

    --ring: #2B3447;

    --radius: 0.5rem;

    --gradient-color-200:rgb(13, 45, 125);
    --gradient-color-250: rgb(10, 33, 94);

    --text-simples-200: #d6dae2;
    --text-simples-300: #8D99AC;
    --text-simples-400: #c0c8d4;
    --text-white: #fff;
    
    --azul-highlight: #1c46e5;
    --azul-200: #4868DB;
    --azul-400: #1b3ba3;
    --azul-800: #0D2D7C;
    --azul-900: #071846;
    
    --verdinho-300: #b5d333;
    --verdinho-350: #b6d3336e;

    --chart-1: #2662d9ff;
    --chart-2: #2eb88aff;
    --chart-3: #e88c30ff;
    --chart-4: #af57dbff;
    --chart-5: #e23670ff;

    --color-green-default: #22C55E;
    --color-green-light: #4ADE80;
    --color-green-dark:#078107;
    --color-yellow: #EAB308;
    --color-red: #EF4444;
    --color-blue: #60A5FA;
    --color-cyan: #06B6D4;
    --color-teal:#065058;

    --radix-accordion-content-height: 100px;
  }
}

@layer base {
  * {
    @apply border-border-100 scrollbar-thin scroll-smooth;
  }

  body {
    @apply bg-background text-foreground overflow-hidden;
  }
}

@layer components {
  .indicator-flex-container {
    @apply inline-flex w-full flex-row justify-between 
  }

  .page-container {
    @apply flex flex-col gap-y-4
  }

  .button-action {
    @apply flex items-center gap-2 px-4 py-2
  }
}